@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Manage Employee";
    ViewData["PageTitle"] = "Manage Employee";   
}

@section Scripts {
    <script>
        function DeleteConfirm() {
                if (confirm("Are you sure want to delete this record"))
                return true;
                else
                return false;
            }

        function ResendEmail(){
            if(confirm("Are you sure want to resend email")){
                return true;
            }else{
                return false;
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd ">
            <div class="panel-body">                
                <label class="text-success">@TempData["StatusMessage"]</label>
                <div class="table-responsive col-lg-12 m-t-20">                    
                    <a asp-action="NewEmployee" class="btn btn-primary">Add New Employee</a>
                    <br />
                    <br />
                    <table id="dataTableExample1" class="table table-bordered table-striped ">
                        <thead>
                            <tr class="info">
                                <th>Emp Code</th>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Email Confirmed</th>
                                <th>Mobile No</th>
                                <th>Gender</th>
                                <th>Designation <br />
                                    DOJ</th>                                
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                               <tr>
                                   <td>
                                       @Html.DisplayFor(modelItem => item.EmployeeCode)
                                   </td>
                                   <td>
                                       @Html.DisplayFor(modelItem => item.FullName)
                                   </td>
                                   <td>
                                       @Html.DisplayFor(modelItem => item.Email)
                                   </td>
                                   <td>
                                       @if(item.EmailConfirmed){
                                           @Html.ActionLink("Confirmed", null, null,
                                            htmlAttributes: new { @class = "btn btn-success" })                                            
                                       }else{
                                           @Html.ActionLink("Not Confirmed", "SendEmailVerificationCode", new { id = item.Id },
                                            htmlAttributes: new { @class = "btn btn-danger", @Title="Click here to send another email.", @onclick = "return ResendEmail()" }) 
                                       }
                                   </td>
                                   <td>
                                       @Html.DisplayFor(modelItem => item.PhoneNumber)
                                   </td>
                                   <td>
                                       @{
                                            if(item.Gender == true)
                                            {
                                                <span>Male</span>
                                            }
                                            else if(item.Gender == false)
                                            {
                                                <span>Female</span>
                                            }
                                            else {
                                                <span>N/A</span>
                                            }
                                       }
                                   </td>
                                   <td>
                                       @Html.DisplayFor(modelItem => item.Designation)<br/>
                                       @Html.DisplayFor(modelItem => item.DateofJoining)
                                   </td>
                                   <td>
                                       @if(item.IsActive){
                                           @Html.ActionLink("Active", null, null,
                                            htmlAttributes: new { @class = "btn btn-success", @Title="Status is active" }) 
                                       }else{
                                           @Html.ActionLink("Discontinued", null, null,
                                            htmlAttributes: new { @class = "btn btn-danger", @Title="Employee has been discontinued" }) 
                                       }
                                   </td>

                                    <td class="text-center">
                                        @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id },
                                        htmlAttributes: new { @class = "btn btn-danger", @Title="Delete Employee", @onclick="return DeleteConfirm()" })                                         
                                    </td>                                    
                                    <td class="text-center">
                                        @Html.ActionLink("View", "EditEmployee", new { id = item.Id },
                                        htmlAttributes: new { @class = "btn btn-primary", @Title="View" }) 
                                    </td>                                    
                               </tr> 
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
